<div class="jumbotron bg-dark rounded-0"">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-7">
          <label class="text-white"><strong>Search City or Zip Code</strong></label>
          <div class="input-group input-group-lg">
            <input
              type="text"
              class="form-control"
              aria-label="Text input with segmented dropdown button"
            />
            <div class="input-group-append">
              <btn href="{{site.baseurl}}/search-results" type="button" class="btn btn-primary">
                Search
              </btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>