---
---
@import 'bootstrap';

.excellent {
    background-color: #C0E2C3;
}

.good {
    background-color: #E4F0D6;
}

.moderate {
    background-color: #FFF3D9;
}

.bad {
    background-color: #FDEADF;
}

.harsh {
    background-color: #FCD9D9;
}

.date {
    margin-bottom: 1rem;
}

.search-placehoder-icon {
    opacity: .4;
}
@include media-breakpoint-only(xs) {
    h4.secondary-data {
        font-size: 1.15rem;
    }
    .temperature {
        font-size: 2rem;
    }
    .date {
        margin-bottom: 0;
    }
    .sample-btn {
        display: block;
        width: 60%;
        margin-bottom: 1rem;
    }
  }


