---
---
@import '_sass/bootstrap';

.excellent {
    background-color: #C0E2C3;
}

.good {
    background-color: #E4F0D6;
}

.moderate {
    background-color: #FFF3D9;
}

.bad {
    background-color: #FDEADF;
}

.harsh {
    background-color: #FCD9D9;
}
@include media-breakpoint-up(xs) {
    h4.secondary-data {
        font-size: 1rem;
    }
  }


