<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    {% include search.html %}
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
          <img
            class="mb-4 search-placehoder-icon"
            width="255px"
            height="auto"
            src="{{site.baseurl}}/assets/sunny.svg"
          />
          <h1 class="h5 text-muted mb-4">
            <strong>
              Scout ahead for ideal working conditions with
              rosterforecast!
            </strong>
          </h1>
          <p class="mb-2">Sample Forecasts:</p>
          <div class="row justify-content-center">
              <a href="{{site.baseurl}}/search-results" class="sample-btn btn btn-light rounded-pill border mx-1" href="#" role="button">Search</a>
              <!-- <button href="{{site.baseurl}}/longmont" type="button" class="sample-btn btn btn-light rounded-pill border mx-1">Longmont</button>
              <button href={{site.baseurl}}/san-francisco type="button" class="sample-btn btn btn-light rounded-pill border mx-1">San Francisco</button>
              <button href="{{site.baseurl}}/rochester" type="button" class="sample-btn btn btn-light rounded-pill border mx-1">Rochester</button> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
