<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    {% include search.html %}
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
          <img
            class="mb-4"
            width="255px"
            height="auto"
            src="{{site.url}}/assets/sunny.svg"
          />
          <h1 class="h5 text-muted mb-4">
            <strong>
              Scout ahead for ideal working conditions with
              rosterforecast!
            </strong>
          </h1>
          <p class="lead"><span class="mr-2">Sample our forecasts:</span> <button type="button" class="btn btn-light rounded-pill border">Longmont</button> <button type="button" class="btn btn-light rounded-pill border">San Francisco</button> <button type="button" class="btn btn-light rounded-pill border">Rochester</button></p>
        </div>
      </div>
    </div>
  </body>
</html>
